<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Preferences">
		<title>Preferences</title>
		<size>208,104</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>112,96</pos>
			<size>168,72</size>
			<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
				<cols>2</cols>
				<rows>1</rows>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Serial port</label>
					</object>
					<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
						<value>/dev/ttyUSB0</value>
						<size>106,21</size>
					</object>
					<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>Speed</label>
					</object>
					<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
						<content>
							<item>9600</item>
							<item>19200</item>
							<item>38400</item>
							<item>57600</item>
							<item>115200</item>
						</content>
						<selection>4</selection>
						<size>106,21</size>
					</object>
					<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
						<label>OK</label>
						<handler function="OnButton1Click" entry="EVT_BUTTON" />
					</object>
					<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
						<label>Cancel</label>
						<handler function="OnButton2Click" entry="EVT_BUTTON" />
					</object>
					<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
